<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mx-auto">
    <div class="card-border overlay-image _b0">
            <img src="{{category.image}}"
                class="card-img-top topimage _b1" alt="{{category.name}}">
            <div class="text-right color-provider mr-3">
                <button class="btn pl-3 pr-3">
                    <h3 class="border-style-home style-home-name p-3 ">
                        {{category.name}}
                    </h3>
                </button>
                <div class="hover _b2 ">
                    <div class="text _2 ">
                        <a href="http://localhost:8000/boutique?q=&category%5B%5D={{category.id}}" class="btn-orange">
                        &nbsp; Voir plus &nbsp; <i class="fas fa-caret-right"></i>
                        </a>
                    </div>
            	</div>
            </div>
    </div>
</div>